version: '3.8'

services:
  otel-collector:
    image: otel/opentelemetry-collector-contrib:0.114.0
    container_name: otel-collector
    command: ["--config=/etc/otelcol-config.yaml"]
    volumes:
      - ./config.yaml:/etc/otelcol-config.yaml
    network_mode: "host"
    restart: always
